<div *ngIf = "artist">
    <div class="artist-header">
        <div *ngIf="artist.images.length > 0 ">
            <img class="artist-thumb img-circle" src="{{artist.images[0].url}}" >
        </div>

        <h1> {{artist.name}} </h1>
        <div *ngIf="artist.genres.length > 0">
            Genres: <span *ngFor="let genre of artist.genres" > {{genre}} </span>
        </div>
    
        <div class="row" style="margin-top: 30px;">  
            <div class="col-md-4" *ngFor="let album of albums" style="color: aqua;">
                <div class="card mb-4 shadow-sm" style="width: 18rem;">
                    <div *ngIf="album.images.length > 0">
                        <img  [src]="sanitizer.bypassSecurityTrustResourceUrl(album.images[0].url)" width="100%" height="255">
                    </div>
                  <div class="card-body">
                    <h4 style="color: rgb(44, 44, 44);">{{album.name}}</h4>
                    <span style="color: rgb(44, 44, 44);">
                      <strong>Artists:</strong> <span *ngFor="let artist of album.artists" style="font-style: italic;"> {{artist.name}} </span>
                    </span> 
                    <br>
                    <a routerLink="/album/{{album.id}}" class="btn btn-sm btn-outline-info"> Detail</a>
                    <a href="{{album.external_urls.spotify}}" class="btn btn-sm btn-outline-success" style="margin-left: 10px;"> Spotify</a>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted" style="margin-left: 100px;">Release Date: {{album.release_date}} </small>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
