<h1>Need Music?</h1>
<p class="lead"> Use ELGrandeeToto app to brows new releases and find </p>

<form>
    <div class="form-group">
        <input type="text" name="seasrchStr" (keyup)="searchMusic()" class="form-control" [(ngModel)]="searchStr">
    </div>
</form>

<div *ngIf="ress">
    <div *ngFor="let res of ress.artists.items">
        <div class="row">
            <div class="col-lg-12">
                <div style="height: 80px;background-color:rgba(0, 0, 0, 0.2); margin-bottom: 10px;">
                    <h5>   <a href="">{{res.name}}</a> </h5>
                    <strong>Genre: </strong>{{res.genres}}
                </div>
            </div>
        </div>
    </div>  

</div>