<h1>Need More Albums?</h1>
<p class="lead"> Use ELGrandeeToto app to brows new releases </p>

<form>
    <div class="form-group">
        <input type="text" name="seasrchStr" (keyup)="searchMusic()" class="form-control" [(ngModel)]="searchStr">
    </div>
</form>

<div *ngIf="ress">
    <div *ngFor="let res of ress.artists.items">
        <div class="row">
            <div class="col-lg-12">
                <div class="search">
                    <div style="padding: 10px;">
                        <h5>{{res.name}}</h5>
                    <strong>Genre: </strong>{{res.genres}} 
                    <a routerLink="/artist/{{res.id}}" class="btn btn-sm btn-outline-info"> Albums...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>  

</div>